<mat-card>
  <mat-card-header>Listado de Empleados</mat-card-header>
  <a mat-button [routerLink]="['/users-add']">Añadir un user</a>
  <mat-card-content>
    <mat-list>
          <TABLE border="2">
            <thead>
                </thead>
                <tbody>
            <TR>
              <mat-list-item *ngFor="let u of users">
                <Td>{{u.id}}</Td>
                <TD>{{u.name}}</TD>
                <TD>{{u.email}}</TD>
                <td><button class="btn btn-primary" [routerLink]="['/user-edit']">Editar</button></td>
                <td><button class="btn btn-danger" [routerLink]="['/user-delete']">Eliminar</button></td>
              </mat-list-item>
            </TR>
            </tbody>
          </TABLE>
    </mat-list>
  </mat-card-content>

  <!--<button mat-fab color="primary" [routerLink]="['/empleados-add']">A&ntilde;adir</button>-->
</mat-card>